@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background: var(--clr-body-bg);
  color: var(--clr-text);
  font-size: 18px;
  line-height: 1.6;
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card {
  padding: 1rem;
  background-color: var(--clr-card-bg);
  border-block-start: 0.5rem solid;
  border-radius: 0.5rem;
}

.card > * {
  margin: 0;
}

.card > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 1rem;
  width: fit-content;
  background: var(--color-picker);
  padding-top: 1rem;
  border-radius: 0 0 0 1rem;
  margin: 0 0 0 auto;
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 0;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: #ffffff;
}

.color-picker input[type="radio"]#dark {
  --radio-color: #232323;
}

:root:has(#dark:checked) {  
  --clr-body-bg: #333;
  --clr-card-bg: hsl(209 50% 5%);
  --clr-text: hsl(209 50% 90%);
  --clr-heading: hsl(209 50% 80%);
  --color-picker: #3f3f3f;
  --shadow-color: #111111ab;
  --link-color: #00aa00;
  --active-link-color: #00ff00;
}
  
:root:has(#light:checked) {
  --clr-body-bg: hsl(0 0% 90%);
  --clr-card-bg: #2e2e2e;
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);
  --color-picker: hsl(209 50% 80%);
  --shadow-color: #111111ab;
  --link-color: #006100;
  --active-link-color: #777777;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
  text-shadow: 0px 0px var(--shadow-color);
}

ul {
  list-style-type: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: 0px 0px var(--shadow-color);
	  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

p {
  margin: 20px 0;
}

nav {
  width: 100%;
  color: var(--link-color);
  text-shadow: 0px 0px var(--shadow-color);
	  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


nav ul li:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color: var(--active-link-color);
	text-shadow: 10px 10px var(--shadow-color);
}

nav ul a:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color: var(--active-link-color);
  text-shadow: 10px 10px var(--shadow-color);
}

a:hover {
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  color: var(--active-link-color);
  text-shadow: 10px 10px var(--shadow-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--link-color);
	  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ul2 {
  display: block;
  justify-content: space-around;
  align-items: center;
  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

nav ul li {
  color: var(--link-color);
  cursor: pointer;
	  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.active {
  color: var(--active-link-color);
	  -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  max-width: 600px;
  margin: 0 auto auto auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
  color: var(--link-color);
}

.back {
  margin: 7.1% 0 1% 35%;
  display: flex;
  max-width: max-content;
}

.wb-body {
  background: #111;
}

.wb-min:hover {
  background-color: #00ea00;
}

.wb-max:hover {
  background-color: #00ea00;
}

.wb-full:hover {
  background-color: #00ea00;
}

.wb-close:hover {
  background-color: #c10000;
}

.hidden {
  display: none;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}



@media (max-width: 1000px){
  h1 {
    color: var(--link-color);
    font-size: 50px;
    letter-spacing: -5px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    font-size: 16px;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
    text-shadow: 0px 0px var(--shadow-color);
  }

  p {
    margin: 20px 0;
    font-size: 20px;
  }

  nav {
    width: 100%;
    text-shadow: 0px 0px var(--shadow-color);
  }

  nav ul li:hover {
    -webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;
    color:#00ff00;
  	text-shadow: 10px 10px var(--shadow-color);
  }

  nav ul a:hover {
    -webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;
    color:#00ff00;
    text-shadow: 10px 10px var(--shadow-color);
  }

  a:hover {
    -webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;
    color:#00ff00;
    text-shadow: 10px 10px var(--shadow-color);
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .ul2 {
    display: block;
    justify-content: space-around;
    align-items: center;
  }

  nav ul li {
    color: var(--link-color);
   cursor: pointer;
  }

  .active {
    color: var(--active-link-color);
  }

  .container {
    max-width: 600px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    max-width: 600px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
  }

  .back {
    margin: 22.5% 0 1% 5%;
    display: flex;
    max-width: max-content;
  }

  .wb-body {
    background: #111;
  }

  .wb-title {
    font-size: 20px;
  }

  .wb-min:hover {
    background-color: #00ea00;
  }

  .wb-max:hover {
    background-color: #00ea00;
  }

  .wb-full:hover {
    background-color: #00ea00;
  }

  .wb-close:hover {
    background-color: #c10000;
  }

  .hidden {
    display: none;
  }

  .cursor {
   font-weight: 700;
    animation: 1s blink step-end infinite;
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }

    50% {
      color: var(--text-color);
    }
  }
}
